<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Register a new account</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <% if (errors && errors.length > 0) { %>
                        <ul class="list-group">
                            <% errors.forEach(function(message) { %>
                                <li class="list-group-item list-group-item-danger"><%= message %></li>
                            <% }) %>
                        </ul>
                    <% } %>
                    <form action="/users/register" method="post" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label for="username">User name</label>
                                <input type="text" class="form-control" placeholder="User name" id="username" name="username" value="<%= username %>">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password" value="<%= password %>">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
